body {
  background-color: #1a1a1a;
  color: #f5f5f5;
  font-family: Arial;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.chat-wrapper {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  width: 100%;
  max-width: 720px;
  padding: 1rem;
  box-sizing: border-box;
}

#chat-log {
  overflow-y: auto;
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  max-height: 80vh;
  padding: 1rem;
  box-sizing: border-box;
  font-size: 20px;
}

.chat-container {
  width: 100%;
  background: #1a1a1a;
  padding: 1rem;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 20px rgba(255, 0, 128, 0.2);
}

.input-area {
  display: flex;
}

#user-input {
  flex: 1;
  padding: 0.5rem;
  border: none;
  background: transparent;
  color: pink;
}

input[type="text"],
input[type="text"]:focus {
  background: transparent;
  border: none;
  outline-width: 0;
  color: pink;
  font-size: 20px;
}

button {
  padding: 1rem;
  border: none;
  background: hotpink;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 20px;
}

button:hover {
  background: deeppink;
}
