body {
  background-color: #1a1a1a;
  color: #f5f5f5;
  font-family: Arial;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
}

.chat-container {
  width: 95%;
  position: absolute;
  bottom: 20%;
  max-width: 720px;
  background: #1a1a1a;
  padding: 1rem;
  border-radius: 12px;
  display: flex;
  flex-direction: column;

  box-shadow: 0 0 20px rgba(255, 0, 128, 0.2);
}

#chat-log {
  overflow-y: auto;
  font-size: 20px;
  padding-top: 64px;
}

.input-area {
  display: flex;
}

#user-input {
  flex: 1;
  padding: 0.5rem;
  border: none;
  background: transparent;
  color: pink;
}

input[type="text"],
input[type="text"]:focus   
{
         background: transparent;
         border: none;
         outline-width: 0;
         color: pink;
         font-size: 20px;
}

button {
  padding: 1rem;
  border: none;
  background: hotpink;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 20px;
}

button:hover {
  background: deeppink;
}
